h2
  {
    margin-bottom: 1rem;
    cursor: default;
  }

.frais-table-page {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.frais-table {
  width: 100%;
  border-collapse: collapse;
  border-left: 1px solid #f0f0f0; border-right: 1px solid #f0f0f0;
}

.frais-table th, .frais-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #0000000d;
}

.frais-table th {
  background-color: #f1f2f3;
  font-weight: 700;
  cursor: default;
  border-right: 1px solid #00000013;
}

.frais-table tr {
  background-color: #fcfcfc;
}

.frais-table tr:hover {
  background-color: #f5f5f5;
}

.chargement
  {
    font-weight: 500;
    font-style: italic;
    color: rgb(157, 157, 157);
    font-size: 18px;
    cursor: progress;
  }

.search-bar input
  {
    height: 2rem;
    padding: 5px;
    border:gray solid 0.125rem;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 0.5rem;
  }

.filtrage
  {
    margin-top: 1.25rem;
  }

input[type="checkbox"]
  {
    cursor: pointer;
  }
.checkbox label
  {
    display: flex;
    cursor: pointer;
  }
.checkbox label legend
  {
    margin-left: 0.5rem;
  }

.search-bar label, .montant-valide-min label, .montant-valide-min
  {
    display: flex;
    align-items: center;
  }
.search-bar label legend
  {
    margin-right: 0.5rem;
  }

.montant-valide-min input[type="number"]
  {
    height: 1.75rem;
    padding: 3px;
    border:gray solid 0.05rem;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
  }

label
  {
    font-size: 18px;
  }

.add-button {
  padding: 9px;
  background-color: #0084ff;
  color: white;
  border-radius: 5px;
  margin-top: 15px;
  font-size: 17px;
  transition: 0.25s ease;
  text-decoration: none;
  display: block;
  width: 135px;
}

.add-button:hover {
  background-color: #329cff;
  transition: 0.25s ease;
}

.add-button:active {
  background-color: #0057a8;
  scale: 95% 93%;
  transition: 0.15s ease;
}

.edit-button 
  { 
    background-color: #ffc107;
    padding: 9px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    transition: 0.25s ease;
    text-decoration: none;
    display: block;
  }

.edit-button:hover
  {
    background-color: rgb(255, 217, 0);
    transition: 0.25s ease;
  }

.edit-button:active
  {
    background-color: #e0a800;
    scale: 95% 93%;
    transition: 0.15s ease;
  }

.delete-button 
  { 
    background-color: #dc3545;
    padding: 9px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    transition: 0.25s ease;
    text-decoration: none;
    display: block;
  }

.delete-button:hover
  {
    background-color: #dc5764;
    transition: 0.25s ease;
  }

.delete-button:active
  {
    background-color: #9e2733;
    scale: 95% 93%;
    transition: 0.15s ease;
  }

.buttons-line
  {
	display: flex;
	gap: 8px;
	margin-right: 5px;
  }