nav
    {
        height: 3.75rem;
        padding: 1rem;
        background-color: #f0f0f0;
        display: flex;
        gap: 10px;
        align-items: center;
    }

#nav-elements
    {
        display: flex;
        gap: 10px;
    }

nav a, nav button
    {
        padding: 8px 10px;
        border-radius: 10px;
        text-decoration: none;
        background-color: rgb(230, 230, 230);
        color: rgba(0, 0, 0, 0.6);
        transition: 0.25s ease, scale 0.3s ease;
    }
nav a:hover, nav button:hover
    {
        color: rgba(0, 0, 0, 0.5);
        background-color: rgb(250, 250, 250);
        transition: 0.2s ease, scale 0.3s ease;
    }
nav a:active, nav button:active
    {
        color: rgba(0, 0, 0, 0.75);
        background-color: rgb(220, 220, 220);
        transition: 0.15s ease, scale 0.15s ease;
        scale: 95%;
    }

nav button
    {
        cursor: pointer;
        border: none;
        scale: 110%;
    }
nav button:active
    {
        scale: 105%;
    }

#nom-site 
    {
        margin-right: 1rem;
        font-weight: bold;
        font-size: 110%;
        color: rgb(90, 90, 90);
        cursor: default;
    }
#user-name
    {
        margin-left: auto;
        font-weight: 600;
        color:rgb(108, 108, 108);
        font-style: italic;
        cursor: default;
        transition: color 0.25s ease;
    }
#user-name:hover
    {
        color:rgb(157, 157, 157);
        transition: color 0.25s ease;
    }
#logout
    {
        margin-left: 1rem;
    }
#login, #logout
    {
        border-radius: 100px;
        color: rgba(0, 0, 0, 0.75);
        margin-right: 0.75rem;
    }
#login
    {
        margin-left: auto;
    }
#login:hover, #logout:hover
    {
        color: rgba(0, 0, 0, 0.6);
    }
#login:active, #logout:active
    {
        color: rgba(0, 0, 0, 0.9);
    }

#login
    {
        background-color: rgb(51, 197, 255);
    }
#login:hover
    {
        background-color: rgb(75, 222, 255);
    }
#login:active
    {
        background-color: rgb(83, 180, 218);
    }

#logout
    {
        background-color: rgb(255, 95, 95);
    }
#logout:hover
    {
        background-color: rgb(255, 131, 100);
    }
#logout:active
    {
        background-color: rgb(218, 95, 83);
    }